h1{
color: saddlebrown;
font-size: 50px;}
body{
background: skyblue;
text-align: center;
}
img{
margin-top:50px;
margin-left:120px;
}
span{
color: greenyellow;
}				

.uppercase{
text-align: center;
font-size: 33px;
}
.hh{
font-size: 33px;
text-align: center;
}
body a{
color: black;
}
body img{
margin-left: 155px;
}